# Ignore original raw unoptimized images to keep repository size small and fast to clone
/Директора
/захарково
/милениум*
/Партнера
/как мы строим.png
/почему нам доверяют.png
/рафаэль

# System files
.DS_Store
Thumbs.db
